<head>
  <title>1-wall</title>
</head>

<body>
	{{>header}}
	<div class="container">
	<h2>How to use</h2>
		{{> howtouse}}
	</div>
	<div class="container">
	{{> tools}}
	{{> wall}}
	</div>
	
	
</body>