<template name="howtouse">
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ol class="list-group">
					<li class="list-group-item">You can click on the color you want to select it</li>
					<li class="list-group-item">You can change the line size by moving the slider values from 1 to 100.</li>
					<li class="list-group-item">You can click on the button save to generage the image.png file and the export it.</li>
					<li class="list-group-item">You can clear the space.</li>
				</ol>
			</div>
		</div>
	</div>
</template>