<template name="tools">
	<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2>Colors and Tools</h2>
	</div>
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
			<!-- Colors -->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			      <button class='white btn  btn-default' style="background-color:#2a363b"> &nbsp;</button>
			      <button class='silver  btn btn-default' style="background-color:#e84a5f"> &nbsp;</button>
			      <button class='gray btn btn-default' style="background-color:#ff847c"> &nbsp;</button>
			      <button class='black btn  btn-default' style="background-color:#fecea8"> &nbsp;</button>
			      <button class='red btn  btn-default' style="background-color:#ef4566"> &nbsp;</button>
			      <button class='brown btn btn-default' style="background-color:#f66a9a"> &nbsp;</button>
			      <button class='yellow btn btn-default' style="background-color:#f9cdae">&nbsp; </button>
			      <button class='olive btn btn-default' style="background-color:#c8c8a9">&nbsp; </button>
					 <button class='lime btn btn-default' style="background-color:#83ae9b"> &nbsp;</button>
				      <button class='green btn btn-default' style="background-color:#a2d4ab">&nbsp; </button>
				      <button class='aqua btn btn-default' style="background-color:#3eaca8"> &nbsp;</button>
				      <button class='teal btn btn-default' style="background-color:#547a82">&nbsp; </button>
				      <button class='blue btn btn-default' style="background-color:#5a5050">&nbsp; </button>
				      <button class='navy btn btn-default' style="background-color:#f8b195">&nbsp; </button>
				      <button class='fushia btn btn-default' style="background-color:#f67280">&nbsp; </button>
				      <button class='purple btn btn-default' style="background-color:#c06c84">&nbsp; </button>
			</div><!-- end colors -->
			<!-- start tools -->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<h3>Line</h3>
					<h4>Thickness</h4>
			        <div id="slider"></div>
			        Line size : {{sliderVal}}
				</div>
			</div><!-- end tools -->
		</div><!--end tools and colors -->
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			<div class="save-work-wrapper">
	   			 <h4>Save your drawing </h4>
	    		<button class="btn btn-sm btn-block btn-primary save-work">SAVE </button>
  			</div>
  			<br>
  			<div>
	   			 <h4>Clear space</h4>
	    		<button class="clear btn btn-sm btn-block btn-default">
	    		<span class="glyphicons glyphicons-cleaning">CLEAR</span></button>
	    		
  			</div>
		</div>
	</div>

</template>